
# Define login e senha de acesso ao Mongo Express

# Deixe comentado caso não queira ativar a autenticação básica
# Não use aspas nos valores das variáveis
# ME_CONFIG_BASICAUTH_USERNAME=my-user
# ME_CONFIG_BASICAUTH_PASSWORD=my-password