
# Define login e senha de acesso ao Mongo Express

# Para que a autenticação seja ligada, este arquivo deve ser
# renomeado para 'mongo-express-container.env'
# Não use aspas nos valores das variáveis
# ME_CONFIG_BASICAUTH_USERNAME=my-user
# ME_CONFIG_BASICAUTH_PASSWORD=my-password